<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nytimesbits" />
    <meta name="twitter:creator" content="@snuchycovich" />
    <meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
    <meta property="og:title" content="A Twitter for My Sister" />
    <meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
    <meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />
    <meta name="description" content="exiftool">

    <!-- Google Fonts -->
    <link href="assets/fonts/google_fonts.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="assets/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/custom-theme.css">
    <link type="text/html" href="assets/css/custom-styles.html">
    <link rel="stylesheet" href="assets/css/select2-bootstrap.css">
    <link rel="stylesheet" href="assets/css/select2.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="assets/js/lightbox/lightbox.css" />


    <title>Images Metadata</title>
</head>
<body data-spy="scroll" data-target=".nav-wrapper" class="pink-blue header-right gold">
<!-- =========== preloader ============= -->
<div id="preloader" aria-hidden="true">
    <div class="heartbeat-loader">
        <span class="ti ti-flickr ti-3x"></span>
    </div>
</div>
<!-- /end #preloader -->

<!-- =========== screen reader only ============= -->
<a class="sr-only sr-only-focusable" href="#nav">Skip Navigation</a>
<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
<!-- =========== begin .nav-wrapper-mobile ============= -->
<nav class="nav-wrapper visible-xs nav-wrapper-mobile">
    <div class="nav-wrapper-mobile-inner">
        <div class="nav-wrapper-mobile-vertical-center">
        </div>
    </div>
</nav>
<!-- =========== begin .header ============= -->
<header id="header" class="header">
    <div class="header-inner">
        <div class="header-vertical-center">
            <nav id="nav" class="nav-wrapper">
                <a href="#" class="menu-toggle" aria-label="navigation menu" role="button" aria-controls="nav"
                   aria-expanded="false">
                        <span class="veggieburger">
                        <span class="lines"></span>
                        </span>
                </a>
                <ul class="nav">
                    <li class="active"><a href="#begin">Begin</a></li>
                    <li><a href="#about">Images</a></li>
                    <li><a href="#upload">Upload</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#map-section">Map</a></li>
                    <li><a href="#rsvp">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <span class="header-embellishment-top" aria-hidden="true"></span>
    <span class="header-embellishment-bottom" aria-hidden="true"></span>
</header>
<!-- =========== end .header ============= -->